/* ContactUs component styles */

#contactus {
  margin-bottom: 40px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

label, input, textarea, button {
  display: block;
  margin-bottom: 10px;
}

label {
  font-size: 18px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #333;
  color: white;
  padding: 15px;
  cursor: pointer;
}

/* Style for the popup */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
