/* ContactUs component styles */

/* Container styles */
.container {
  max-width: 600px; /* Maximum width */
  margin: 0 auto; /* Center align */
}

/* Label styles */
label {
  font-size: 18px; /* Font size */
}

/* Input and textarea styles */
input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 20px); /* Adjusted width */
  padding: 10px; /* Padding */
  font-size: 16px; /* Font size */
}

/* Textarea styles */
textarea {
  resize: vertical; /* Vertical resizing */
}

/* Button styles */
button {
  background-color: #333; /* Background color */
  color: white; /* Text color */
  padding: 15px; /* Padding */
  cursor: pointer; /* Cursor type */
}

/* Section adjustment */
.section-adjust {
  margin-bottom: 100px; /* Adjusted margin bottom */
}
