/* Footer.css */

.footer {
  background-color: #ccc;
  padding: 20px;
  color: #333;
}

.links-container {
  display: flex;
  justify-content: center;
}

.links-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 100px; /* Adjust the width as needed */
}

.policies {
  text-align: center;
}

.policies a {
  margin-right: 20px;
  color: #333;
  text-decoration: none;
}
