/* Footer container styles */
.footer {
  background-color: #ccc;
  padding: 20px;
  color: #333;
}

/* Links container styles */
.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* List styles */
.footer-list {
  margin-right: 20px;
}

/* List item styles */
.footer-list li {
  margin-bottom: 10px;
}

/* Contact information styles */
.contact-info {
  margin-left: 20px;
}

/* Footer logo styles */
.footer-logo {
  width: 200px;
  margin-top: -20px;
}

/* Footer link and paragraph styles */
.footer-link,
.contact-info p {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}

/* Hover styles for links */
.footer-link:hover {
  text-decoration: underline;
}

/* Policy link styles */
.policies span {
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}

/* Set link color for policy links */
.policies span {
  color: #333;
}

/* Reduce space between paragraphs in contact info */
.contact-info p {
  margin: 5px 0;
}

/* Policies section */
.policies {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center items horizontally */
  margin-top: 10px; /* Add margin to separate from the links */

}
