/* Navbar styles */
#navbar {
  background-color: #000; /* Background color */
  position: fixed; /* Fixed position */
  width: 100%; /* Full width */
  top: 0; /* Top position */
  z-index: 1000; /* Z-index */
  padding-top: 0.1px; /* Padding top */
  padding-bottom: 0.1px; /* Padding bottom */
  left: 0; /* Left position */
  right: 0; /* Right position */
}

/* List styles */
#navbar ul {
  list-style: none; /* Remove default list style */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items vertically */
  padding-left: 20px; /* Left padding */
  padding-right: 10px; /* Right padding */
}

/* List item styles */
#navbar ul li {
  margin-right: 20px; /* Margin between items */
}

/* Last list item style */
#navbar ul li:last-child {
  margin-right: 0; /* No margin for the last item */
}

/* Link styles */
#navbar ul li a {
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Font size */
}

/* Hover styles for links */
#navbar ul li a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Logo style */
#navbar ul li img {
  max-width: 100px; /* Maximum width for the logo */
  height: auto; /* Automatic height */
}

/* Header styles */
.fixed-header {
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

/* Add padding to the body to offset the fixed header */
body {
  padding-top: 70px; /* Adjust as needed to ensure content is not hidden behind the fixed header */
}
