/* import fonts for HTML */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* General Settings */
body {
    background-color: #eaeaea; /* Set the background color */
    color: #000; /* Set the text color */
    height: 1500px; /* Set a fixed height for demonstration */
}

h1 {
    font-size: 32px; /* Set the font size for h1 */
    font-family: 'Open Sans', sans-serif; /* Use Open Sans font */
    font-weight: bold; /* Set font weight to bold */
    margin-bottom: 20px; /* Add bottom margin */
}

h2 {
    font-size: 20px; /* Set the font size for h2 */
    font-family: 'Open Sans', sans-serif; /* Use Open Sans font */
    font-weight: bold; /* Set font weight to bold */
}

p {
    font-family: 'Quicksand', sans-serif; /* Use Quicksand font for paragraphs */
}

nav a {
    font-family: 'Lato', sans-serif; /* Use Lato font for navigation links */
}

/* Adjust the vertical alignment for headings, icons, and links */
h1, h2, nav img, nav a {
    vertical-align: middle; /* Align items vertically */
    align-items: center; /* Align items using flexbox */
}

/* Add padding to the top of each section to offset the fixed header */
section {
  padding-top: 75px; /* Adjust as needed based on the height of your fixed header */
}

/* Compensate for the padding by using negative margins */
.section-adjust {
  margin-top: -75px; /* Adjust to match the padding-top value */
}
