/* Merch.css */

.merch-container {
  text-align: center; /* Center the content within the container */
}

.merch-container figure {
  margin-top: 20px;
  max-height: 400px; /* Adjust the maximum height as needed */
}

.merch-container figure img {
  width: auto; /* Let the width adjust automatically */
  max-width: 100%; /* Ensure the image doesn't exceed its original size */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Ensure the image behaves as a block element */
  margin: 0 auto; /* Center the image */
  max-height: 500px; /* Set a maximum height to avoid excessive stretching */
}


/* Merch.css */

.merch-container {
  text-align: center;
}

.merch-container figure {
  position: relative;
  display: inline-block;
}

.popup-trigger {
  transition: transform 0.3s ease; /* Add transition for smoother scaling */
}

.popup-trigger:hover {
  transform: scale(1.03); /* Adjust the scale factor for the pop-out effect */
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ccc;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  border-image-slice: 1;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-message {
  text-align: center;
  font-weight: bold;
  color: black; /* Darker color for better contrast */
}

