/* Navbar styles */
#navbar {
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  left: 0;
  right: 0;
}

/* List styles */
#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}

/* List item styles */
#navbar ul li {
  margin-right: 20px;
}

/* Last list item style */
#navbar ul li:last-child {
  margin-right: 0;
}

/* Link styles */
#navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* Hover styles for links */
#navbar ul li a:hover {
  text-decoration: underline;
}

/* Logo style */
#navbar ul li img {
  max-width: 100px;
  height: auto;
}


/* Search bar styles */
.search-bar {
  display: inline-block;
  position: relative;
}

.input-wrapper {
  position: relative;
}

.search-bar input[type="text"] {
  width: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  box-sizing: border-box;
}

/* Remove outline on focus */
.search-bar input[type="text"]:focus {
  outline: none;
}

/* Position the clear button absolutely */
.search-bar button {
  position: absolute;
  right: 5px;
  top: calc(50% + 2px); /* Adjust the top value as needed */
  transform: translateY(-150%);
}



/* Search bar styles */
.search-bar {
  display: inline-block;
  position: relative;
}

.input-wrapper {
  position: relative;
}

.search-bar input[type="text"] {
  width: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  box-sizing: border-box;
}

/* Remove outline on focus */
.search-bar input[type="text"]:focus {
  outline: none;
}

/* Position the clear button absolutely */
.search-bar button {
  position: absolute;
  right: 5px;
  top: calc(50% + 2px); /* Adjust the top value as needed */
  transform: translateY(-150%);
}

/* Search results styles */
.search-results {
  position: absolute;
  top: calc(100% - 720px);
  left: auto;
  right: 0;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

/* Individual search result item styles */
.search-results div {
  padding: 8px 16px;
  cursor: pointer;
}

/* Hover styles for search result items */
.search-results div:hover {
  background-color: #f0f0f0;
}

/* "X" button styles */
.navigation-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Hover styles for "X" button */
.navigation-button:hover {
  text-decoration: underline;
}